@CHARSET "UTF-8"

.machine{
    width:1000px;
    height:1000px;
    background-color:orange;
    
    
}
.hole{
    width:200px;
    height:150px;
    border-radius:50%;
    background-color:black;
    position:absolute;


}
.mole{

}
.start{

}
.score{

}
.hole1{

}
.hole2{

}
.hole3{

}
.hole4{

}
.hole5{

}
.hole6{

}
.mole1{

}
.mole2{

}
.mole3{

}
.mole4{

}
.mole5{

}
.mole6{

}
